// variables
$primaryColor: #a58233;
$accentColor: #cccaab;

.listing {
    background-color: $accentColor;
    border-radius: 32px;
    border: solid 2px white;
    height: 300px;
    overflow: hidden;
}

.listing:hover {
    border: solid 2px $primaryColor;
}

.listing > .listing-info {
    position: relative;
    transition: all 0.5s ease;
    transform: translate(0,0)
}

.listing:hover > .listing-info {
    position: relative;
    transition: all 0.5s ease;
    transform: translate(0,-80px)
}

.listing-photo {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    z-index: 100;
}

.listing-photo:hover {
    cursor: pointer;
}

.listing-info{
    height: 80px;
    background-color: #cccaab;
}

.listing-info-heading {
    color: $primaryColor;
    padding: 10px 0px 0px 20px;
    margin: 0px;
}

.listing-info-heading:hover {
    cursor: pointer;
}

.listing-info-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 0px; 
}

.listing-info-location {
    padding: 10px 20px 10px 20px;
    margin: 0px;
}

.listing-info-location::before {
    content: url("/assets/location-pin.svg") / "";
    padding-right: 5px;;
}

section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: $primaryColor;
}

section.listing a::after {
    content: "\203A";
    margin-left: 5px;
}

a {
    color: $primaryColor;
    text-decoration: none; /* no underline */
}