// variables
$primaryColor: #a58233;
$secondaryColor: #fcce6c;
$accentColor: #cccaab;

.listing-photo {
    height: 600px;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
  }

  .listing-heading {
    font-size: 48pt;
    font-weight: bold;
    margin-bottom: 15px;
    color: $primaryColor;
    border-bottom: 2px solid black;
    width: 49%;
  }

  .listing-location::before {
    content: url('/assets/location-pin.svg') / '';
    padding-right: 5px;
  }

  .listing-location {
    font-size: 20pt;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .listing-features > .section-heading {
    color: $primaryColor;
    font-size: 24pt;
    margin-bottom: 15px;
  }

  .listing-features {
    margin-bottom: 20px;
  }

  .listing-features li {
    font-size: 14pt;
  }

  ul {
    padding-left: 0px;
  }

  li {
    list-style-type: none;
  }

  .listing-apply .section-heading {
    font-size: 18pt;
    margin-bottom: 15px;
  }

  label, input {
    display: block;
  }

  label {
    color: $primaryColor;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
  }

  input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
  }

  .primary {
    padding-top: 10px;
    padding-bottom: 10px;
    //border: solid 1px $primaryColor;
    border: none;
    background-color: $accentColor;
    color: $primaryColor;
    border-radius: 8px;
    font-weight: 300;
    font-weight: bold;
}

.primary:hover {
    background-color: $primaryColor;
    color: white;
}

  @media (max-width: 1024px) {
    .listing-photo {
      width: 100%;
      height: 400px;
    }

    .listing-heading {
        width: 100%;
      }
  }